body {
  background-color: rgb(6, 93, 151);
}

.product_grid{
  flex-wrap: wrap;
}

.container {
  margin: 0 !important;
  padding: 0 !important;
}

.buttonstyle {
  border-radius: .5em;
  background-color: rgb(255, 255, 255);
}
